Repository OfficeDev/TeamsFx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @tecton, @kimizhu, @swatDong, @kuojianlu, @a1exwang, @qinezh, @XiaofuHuang, @xiaolang124, @dooriya, @timngmsft, @sffamily, @therealjohn, @chagong, @Alive-Fish, @LongOddCode, @KennethBWSong, @adashen, @SLdragon, @hund030, @eriolchan, @huimiu, @JerryYangKai, @Siglud, @Yukun-dong, @ayachensiyuan, @jayzhang, @1yefuwang1, @blackchoey, @wenytang-ms, @yiqing-zhao, @xzf0587, @yuqizhou77, @MSFT-yiz, @zhenjiao-ms, @frankqianms

test: enable npm cli preview
  packages/tests/src/ui-test/samples/sample-localdebug-npm-search.test.ts
  packages/tests/src/ui-test/samples/sampleCaseFactory.ts
Owners: none

test: enable npm cli preview
  packages/tests/src/ui-test/samples/sample-remotedebug-npm-search.test.ts
Owners: none

test: enable npm cli preview
  packages/tests/src/ui-test/samples/sample-localdebug-npm-search.test.ts
  packages/tests/src/utils/playwrightOperation.ts
Owners: none

test: enable npm cli preview
  packages/tests/src/ui-test/samples/sample-localdebug-npm-search.test.ts
Owners: none

perf(custom api): add scaffold logic for custom api
  packages/fx-core/src/component/coordinator/index.ts
  packages/fx-core/src/component/generator/copilotPlugin/generator.ts
  packages/fx-core/src/component/generator/copilotPlugin/helper.ts
Owners: @jayzhang, @xzf0587, @hund030, @LongOddCode, @Yukun-dong, @JerryYangKai, @eriolchan

perf: update
  packages/fx-core/src/component/coordinator/index.ts
  packages/fx-core/src/component/generator/copilotPlugin/generator.ts
  packages/fx-core/src/component/generator/copilotPlugin/helper.ts
  packages/spec-parser/src/specParser.ts
Owners: @jayzhang, @xzf0587, @hund030, @LongOddCode, @Yukun-dong, @JerryYangKai, @eriolchan

test: fix todo-list velidation
  packages/tests/src/utils/playwrightOperation.ts
Owners: none

Update utils.ts
  packages/vscode-extension/src/chat/utils.ts
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @tecton

test: change chef bot repo path
  .github/workflows/ui-test.yml
  packages/tests/src/ui-test/samples/sample-localdebug-chef-bot.test.ts
  packages/tests/src/ui-test/samples/sample-remotedebug-chef-bot.test.ts
  packages/tests/src/ui-test/samples/sampledebugContext.ts
  packages/tests/src/utils/constants.ts
Owners: none

test: change chef bot repo path
  packages/tests/src/ui-test/samples/sample-localdebug-chef-bot.test.ts
  packages/tests/src/ui-test/samples/sampledebugContext.ts
Owners: none

test: change chef bot repo path
  .github/workflows/ui-test.yml
Owners: none

test: change chef bot repo path
  packages/tests/src/ui-test/samples/sample-localdebug-chef-bot.test.ts
  packages/tests/src/utils/executor.ts
Owners: none

test: change chef bot repo path
  packages/tests/src/ui-test/samples/sample-localdebug-chef-bot.test.ts
  packages/tests/src/ui-test/samples/sample-remotedebug-chef-bot.test.ts
Owners: none

test: change chef bot repo path
  packages/tests/src/ui-test/samples/sample-localdebug-chef-bot.test.ts
Owners: none

refactor: first
  packages/api/review/teamsfx-api.api.md
  packages/api/src/types.ts
  packages/fx-core/src/core/FxCore.ts
  packages/fx-core/src/question/create.ts
  packages/fx-core/tests/question/create.test.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/package.nls.json
  packages/vscode-extension/src/controls/Commands.ts
  packages/vscode-extension/src/controls/sampleGallery/SampleGallery.scss
  packages/vscode-extension/src/controls/sampleGallery/SampleGallery.tsx
  packages/vscode-extension/src/controls/webviewPanel.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/handlers.ts
  packages/vscode-extension/src/telemetry/extTelemetryEvents.ts
  packages/vscode-extension/src/treeview/treeViewManager.ts
  packages/vscode-extension/src/utils/commonUtils.ts
  packages/vscode-extension/test/extension/handlers.test.ts
  packages/vscode-extension/test/extension/treeview/treeViewManager.test.ts
  packages/vscode-extension/test/mocks/vsc/index.ts
  packages/vscode-extension/test/mocks/vscode-mock.ts
Owners: @jayzhang, @1yefuwang1, @LongOddCode, @nliu-ms, @xzf0587, @hund030, @1openwindow, @HuihuiWu-Microsoft, @tecton, @timngmsft, @sffamily, @therealjohn

test: ut
  packages/fx-core/resource/package.nls.json
  packages/fx-core/src/question/create.ts
  packages/fx-core/tests/question/create.test.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/package.nls.json
  packages/vscode-extension/src/controls/sampleGallery/SampleGallery.scss
  packages/vscode-extension/src/copilotChatHandlers.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/handlers.ts
  packages/vscode-extension/src/treeview/treeViewManager.ts
  packages/vscode-extension/test/extension/copilotChatHandlers.test.ts
  packages/vscode-extension/test/extension/handlers.test.ts
Owners: @timngmsft, @sffamily, @therealjohn, @jayzhang, @xzf0587, @hund030, @LongOddCode, @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @tecton

feat: office content add-in
  packages/fx-core/src/common/featureFlags.ts
  packages/fx-core/src/component/generator/officeAddin/generator.ts
  packages/fx-core/src/component/generator/officeXMLAddin/projectConfig.ts
  packages/fx-core/src/question/create.ts
  packages/fx-core/src/question/inputs/CreateProjectInputs.ts
  packages/fx-core/src/question/options/CreateProjectOptions.ts
  packages/fx-core/tests/component/generator/officeAddinGenerator.test.ts
  packages/fx-core/tests/question/create.test.ts
Owners: @1yefuwang1, @jayzhang, @Yukun-dong, @hund030, @JerryYangKai, @eriolchan, @xzf0587, @LongOddCode

feat: check existing validation before submitting validation requests
  packages/fx-core/resource/package.nls.json
  packages/fx-core/src/component/driver/teamsApp/validateTestCases.ts
Owners: @timngmsft, @sffamily, @therealjohn, @jayzhang, @xzf0587, @hund030, @LongOddCode

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/packages/vscode-extension @1openwindow @HuihuiWu-Microsoft @nliu-ms @tecton
/packages/vscode-extension/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/vscode-extension/src/debug @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/vscode-extension/test/localdebug @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/vscode-extension/package.nls.json @timngmsft @sffamily @therealjohn
/packages/vscode-extension/src/migration @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/vscode-extension/test/migration @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/vscode-extension/README.md @therealjohn @sffamily
/packages/vscode-extension/CHANGELOG.md @therealjohn @sffamily
/packages/vscode-extension/WHATISNEW.md @therealjohn @sffamily
/packages/vscode-extension/PRERELEASE.md @therealjohn @sffamily

/packages/cli @chagong @Alive-Fish @LongOddCode
/packages/cli/src/resource/strings.json @timngmsft @sffamily @therealjohn
/packages/cli/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/cli/src/commonlib/appStudioLoginUserPassword.ts @chagong @Alive-Fish
/packages/cli/src/commonlib/azureLoginUserPassword.ts @chagong @Alive-Fish
/packages/cli/src/commonlib/graphLoginUserPassword.ts @chagong @Alive-Fish
/packages/cli/src/commonlib/common/userPasswordConfig.ts @chagong @Alive-Fish
/packages/cli/src/cmds/m365 @swatDong @kuojianlu @kimizhu
/packages/cli/src/cmds/preview @swatDong @kuojianlu @qinezh @a1exwang
/packages/cli/tests/e2e/aad @KennethBWSong @adashen @SLdragon
/packages/cli/tests/e2e/collaboration @KennethBWSong @adashen @SLdragon
/packages/cli/tests/e2e/apim @XiaofuHuang @dooriya @kimizhu
/packages/cli/tests/e2e/frontend @hund030 @eriolchan @huimiu
/packages/cli/tests/e2e/bot @JerryYangKai @eriolchan @Siglud @Yukun-dong
/packages/cli/tests/e2e/scaffold @hund030 @eriolchan @huimiu
/packages/cli/tests/e2e/multienv @a1exwang @dooriya @qinezh @xiaolang124 @kimizhu
/packages/cli/tests/e2e/m365 @kimizhu @swatDong @kuojianlu
/packages/cli/tests/e2e/debug @kimizhu @swatDong @kuojianlu
/packages/cli/tests/e2e/samples @LongOddCode @ayachensiyuan
/packages/cli/tests/unit/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/cli/tests/unit/cmds/preview @swatDong @kuojianlu @qinezh @a1exwang
/packages/cli/tests/unit/cmds/m365 @swatDong @kuojianlu @kimizhu

/packages/api @jayzhang @1yefuwang1 @LongOddCode @nliu-ms
/packages/api/src/schemas @dooriya @qinezh @a1exwang @kimizhu

/packages/sdk @tecton @blackchoey @SLdragon @wenytang-ms @yiqing-zhao
/packages/sdk/src/conversation @kimizhu @swatDong @a1exwang @XiaofuHuang @dooriya @SLdragon
/packages/sdk/test/unit/node/conversation @kimizhu @swatDong @a1exwang @XiaofuHuang @dooriya

/packages/fx-core/resource/package.nls.json @timngmsft @sffamily @therealjohn
/packages/fx-core/resource/yaml-schema @1yefuwang1 @wenytang-ms @kuojianlu @Siglud
/packages/fx-core/src/core @jayzhang @LongOddCode @1yefuwang1 @nliu-ms @xzf0587 @hund030

/packages/fx-core/src/question @jayzhang @xzf0587 @hund030 @LongOddCode
/packages/fx-core/src/error @jayzhang @xzf0587 @hund030 @LongOddCode

/packages/fx-core/src/component @jayzhang @xzf0587 @hund030 @LongOddCode
/packages/fx-core/test/component @jayzhang @xzf0587 @hund030 @LongOddCode

/packages/fx-core/src/common/deps-checker @qinezh @a1exwang @kimizhu @swatDong
/packages/fx-core/tests/common/deps-checker @qinezh @a1exwang @kimizhu @swatDong

/packages/fx-core/src/component/resource/aadApp @KennethBWSong @adashen @SLdragon
/packages/fx-core/tests/component/resource/aadApp @KennethBWSong @adashen @SLdragon

/packages/fx-core/src/component/resource/appManifest @nliu-ms @jayzhang @1yefuwang1 @HuihuiWu-Microsoft
/packages/fx-core/tests/component/resource/appManifest @nliu-ms @jayzhang @1yefuwang1 @HuihuiWu-Microsoft

/packages/fx-core/src/common/samples.ts @HuihuiWu-Microsoft @wenytang-ms @jayzhang
/packages/fx-core/tests/common/samples.test.ts @HuihuiWu-Microsoft @wenytang-ms @jayzhang
/packages/fx-core/src/common/samples-config-v3.json @HuihuiWu-Microsoft @wenytang-ms @jayzhang
/packages/fx-core/src/component/generator/spfx @HuihuiWu-Microsoft @nliu-ms @jayzhang
/packages/fx-core/tests/plugins/resource/spfx @HuihuiWu-Microsoft @nliu-ms @jayzhang

/packages/fx-core/src/component/generator @Yukun-dong @hund030 @JerryYangKai @eriolchan
/packages/fx-core/src/component/generator/officeAddin @1yefuwang1 @jayzhang
/packages/fx-core/src/component/driver/deploy/spfx @HuihuiWu-Microsoft @nliu-ms @jayzhang
/packages/fx-core/tests/component/generator/spfxGenerator.test.ts @HuihuiWu-Microsoft @nliu-ms @jayzhang
/packages/fx-core/tests/component/generator/generator.test.ts @Yukun-dong @hund030 @JerryYangKai @eriolchan

/packages/fx-core/src/component/developerPortalScaffoldUtils.ts @yuqizhou77 @nliu-ms @jayzhang
/packages/fx-core/tests/component/feature/developerPortalScaffoldUtils.test.ts @yuqizhou77 @nliu-ms @jayzhang

/packages/fx-core/src/common/local @kimizhu @swatDong @kuojianlu @XiaofuHuang
/packages/fx-core/tests/common/local @kimizhu @swatDong @kuojianlu @XiaofuHuang
/packages/fx-core/src/common/m365 @kimizhu @swatDong @kuojianlu
/packages/fx-core/tests/common/m365 @kimizhu @swatDong @kuojianlu
/packages/fx-core/src/component/resource/botService @kimizhu @swatDong @kuojianlu
/packages/fx-core/tests/component/resource/botService @kimizhu @swatDong @kuojianlu

/packages/simpleauth @adashen @blackchoey @wenytang-ms

/packages/function-extension @adashen @blackchoey

/packages/dotnet-sdk @tecton @JerryYangKai @yiqing-zhao
/packages/dotnet-sdk/src/TeamsFx/Conversation @swatDong @dooriya @kimizhu
/packages/dotnet-sdk/src/TeamsFx.Test/Conversation @swatDong @dooriya @kimizhu

/.github/workflows/cd.yml @adashen @LongOddCode @Siglud @qinezh @wenytang-ms
/.github/actions @xzf0587 @wenytang-ms @blackchoey @adashen
/.github/CODEOWNERS @adashen @eriolchan @kimizhu @MSFT-yiz @zhenjiao-ms
/packages/server @chagong @Alive-Fish @jayzhang

/Localize @HuihuiWu-Microsoft @tecton

/packages/sdk-react @tecton @yiqing-zhao

/packages/fx-core/src/component/debugHandler @swatDong @XiaofuHuang @kuojianlu @kimizhu

/packages/fx-core/src/component/resource/apim @XiaofuHuang @dooriya @kimizhu

/packages/fx-core/src/component/driver/file @swatDong @XiaofuHuang @xiaolang124 @kuojianlu @kimizhu
/packages/fx-core/tests/component/driver/file @swatDong @XiaofuHuang @xiaolang124 @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/botFramework @swatDong @XiaofuHuang @kuojianlu @kimizhu
/packages/fx-core/tests/component/driver/botFramework @swatDong @XiaofuHuang @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/m365 @swatDong @XiaofuHuang @kuojianlu @kimizhu
/packages/fx-core/tests/component/driver/m365 @swatDong @XiaofuHuang @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/devTool @swatDong @XiaofuHuang @kuojianlu @kimizhu
/packages/fx-core/tests/component/driver/devTool @swatDong @XiaofuHuang @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/arm @xzf0587 @blackchoey @adashen
/packages/fx-core/tests/component/driver/arm @xzf0587 @blackchoey @adashen

/packages/fx-core/src/core/middleware/projectMigrationV3 @xzf0587 @frankqianms @blackchoey @adashen
/packages/fx-core/tests/core/middleware/migration @xzf0587 @frankqianms @blackchoey @adashen
/packages/fx-core/tests/core/middleware/testAssets @xzf0587 @frankqianms @blackchoey @adashen

/packages/fx-core/src/component/driver/aad @blackchoey @wenytang-ms @KennethBWSong @adashen
/packages/fx-core/tests/component/driver/aad @blackchoey @wenytang-ms @KennethBWSong @adashen

/packages/fx-core/src/core/middleware/utils/debug @swatDong @XiaofuHuang @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/deploy/azure @Siglud @Yukun-dong @JerryYangKai @eriolchan
/packages/fx-core/src/component/driver/script @Siglud @Yukun-dong @JerryYangKai @eriolchan

/templates/* @hund030 @eriolchan @huimiu
/templates/*/dashboard-tab @hund030 @eriolchan @huimiu
/templates/*/non-sso-tab @hund030 @eriolchan @huimiu @JerryYangKai
/templates/*/sso-tab @JerryYangKai @eriolchan @hund030 @huimiu
/templates/*/default-bot @JerryYangKai @eriolchan @Siglud @Yukun-dong
/templates/*/default-bot-message-extension @JerryYangKai @eriolchan @Siglud @Yukun-dong
/templates/*/message-extension @JerryYangKai @eriolchan @Siglud @Yukun-dong
/templates/*/link-unfurling @JerryYangKai @eriolchan @Siglud @Yukun-dong

/templates/*/non-sso-tab-default-bot @hund030 @yuqizhou77
/templates/common/office-addin @1yefuwang1 @jayzhang
/templates/ts/office-addin @1yefuwang1 @jayzhang
/templates/ts/spfx-tab @HuihuiWu-Microsoft @nliu-ms @jayzhang

/templates/*/sso-tab-with-obo-flow @KennethBWSong @adashen @SLdragon

/templates/*/command-and-response @kimizhu @dooriya @swatDong
/templates/*/notification-http-timer-trigger @kimizhu @dooriya @swatDong
/templates/*/notification-http-trigger @kimizhu @dooriya @swatDong
/templates/*/notification-restify @kimizhu @dooriya @swatDong
/templates/*/notification-timer-trigger @kimizhu @dooriya @swatDong
/templates/csharp/notification-webapi @kimizhu @dooriya @swatDong
/templates/*/workflow @kimizhu @dooriya @swatDong
/templates/*/m365-message-extension @kimizhu @swatDong @kuojianlu
/templates/*/m365-tab @kimizhu @swatDong @kuojianlu
