Repository OfficeDev/TeamsFx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @kimizhu, @swatDong, @kuojianlu, @a1exwang, @qinezh, @XiaofuHuang, @xiaolang124, @dooriya, @chagong, @Alive-Fish, @jiayi-ruan, @jayzhang, @1yefuwang1, @LongOddCode, @tecton, @blackchoey, @SLdragon, @dilin-MS, @wenytang-ms, @KennethBWSong, @IvanJobs, @hund030, @henzhang-ms, @xzf0587

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/packages/vscode-extension @1openwindow @HuihuiWu-Microsoft @nliu-ms

/packages/vscode-extension/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @xiaolang124 @dooriya

/packages/vscode-extension/src/debug @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @xiaolang124 @dooriya

/packages/cli @chagong @Alive-Fish @jiayi-ruan

/packages/cli/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @xiaolang124 @dooriya

/packages/api @jayzhang @1yefuwang1 @LongOddCode

/packages/sdk @tecton @blackchoey @SLdragon @dilin-MS @wenytang-ms

/packages/fx-core/src/core @jayzhang @LongOddCode

/packages/fx-core/src/plugins/solution/fx-solution @1yefuwang1 @jayzhang

/packages/fx-core/src/plugins/resource/aad @KennethBWSong

/packages/fx-core/src/plugins/resource/apim @XiaofuHuang

/packages/fx-core/src/plugins/resource/appstudio @nliu-ms

/packages/fx-core/src/plugins/resource/spfx @jiayi-ruan @nliu-ms

/packages/fx-core/src/plugins/resource/bot @IvanJobs

/packages/fx-core/src/plugins/resource/frontend @hund030

/packages/fx-core/src/plugins/resource/function @henzhang-ms

/packages/fx-core/src/plugins/resource/identity @xzf0587

/packages/fx-core/src/plugins/resource/sql @xzf0587

/packages/fx-core/src/plugins/resource/localdebug @swatDong @kuojianlu

/packages/fx-core/src/plugins/resource/simpleauth @KennethBWSong

chore: m365 draft
  packages/fx-core/src/component/fx/preProvisionAction.ts
  packages/fx-core/src/plugins/solution/fx-solution/v2/provision.ts
  packages/fx-core/src/plugins/solution/fx-solution/v2/provisionLocal.ts
  packages/fx-core/src/plugins/solution/fx-solution/v2/utils.ts
  packages/fx-core/src/plugins/solution/fx-solution/v3/provision.ts
Owners: @1yefuwang1, @jayzhang

chore: minor for bot
  packages/fx-core/src/component/fx/preProvisionAction.ts
Owners: none

test: all
  packages/fx-core/src/plugins/solution/fx-solution/constants.ts
  packages/fx-core/src/plugins/solution/fx-solution/v2/executeUserTask.ts
  packages/server/package.json
  packages/server/src/apis.ts
  packages/server/src/serverConnection.ts
Owners: @1yefuwang1, @jayzhang

chore: cli
  packages/cli/.vscode/launch.json
  packages/cli/src/cmds/preview/constants.ts
  packages/cli/src/cmds/preview/preview.ts
Owners: @chagong, @Alive-Fish, @jiayi-ruan

chore: remove unused
  packages/cli/report.json
Owners: @chagong, @Alive-Fish, @jiayi-ruan

chore: remove unsed import
  packages/cli/src/cmds/preview/preview.ts
Owners: @chagong, @Alive-Fish, @jiayi-ruan

chore: update string
  packages/cli/.vscode/launch.json
  packages/cli/report.json
  packages/cli/src/cmds/preview/constants.ts
Owners: @chagong, @Alive-Fish, @jiayi-ruan

test: enable npm cli preview
  packages/tests/src/ui-test/samples/sample-localdebug-npm-search.test.ts
  packages/tests/src/ui-test/samples/sampleCaseFactory.ts
Owners: none

test: enable npm cli preview
  packages/tests/src/ui-test/samples/sample-remotedebug-npm-search.test.ts
Owners: none

test: enable npm cli preview
  packages/tests/src/ui-test/samples/sample-localdebug-npm-search.test.ts
  packages/tests/src/utils/playwrightOperation.ts
Owners: none

test: enable npm cli preview
  packages/tests/src/ui-test/samples/sample-localdebug-npm-search.test.ts
Owners: none

perf(custom api): add scaffold logic for custom api
  packages/fx-core/src/component/coordinator/index.ts
  packages/fx-core/src/component/generator/copilotPlugin/generator.ts
  packages/fx-core/src/component/generator/copilotPlugin/helper.ts
Owners: none

perf: update
  packages/fx-core/src/component/coordinator/index.ts
  packages/fx-core/src/component/generator/copilotPlugin/generator.ts
  packages/fx-core/src/component/generator/copilotPlugin/helper.ts
  packages/spec-parser/src/specParser.ts
Owners: none

test: fix todo-list velidation
  packages/tests/src/utils/playwrightOperation.ts
Owners: none

Update utils.ts
  packages/vscode-extension/src/chat/utils.ts
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms

test: change chef bot repo path
  .github/workflows/ui-test.yml
  packages/tests/src/ui-test/samples/sample-localdebug-chef-bot.test.ts
  packages/tests/src/ui-test/samples/sample-remotedebug-chef-bot.test.ts
  packages/tests/src/ui-test/samples/sampledebugContext.ts
  packages/tests/src/utils/constants.ts
Owners: none

test: change chef bot repo path
  packages/tests/src/ui-test/samples/sample-localdebug-chef-bot.test.ts
  packages/tests/src/ui-test/samples/sampledebugContext.ts
Owners: none

test: change chef bot repo path
  .github/workflows/ui-test.yml
Owners: none

test: change chef bot repo path
  packages/tests/src/ui-test/samples/sample-localdebug-chef-bot.test.ts
  packages/tests/src/utils/executor.ts
Owners: none

test: change chef bot repo path
  packages/tests/src/ui-test/samples/sample-localdebug-chef-bot.test.ts
  packages/tests/src/ui-test/samples/sample-remotedebug-chef-bot.test.ts
Owners: none

test: change chef bot repo path
  packages/tests/src/ui-test/samples/sample-localdebug-chef-bot.test.ts
Owners: none

refactor: first
  packages/api/review/teamsfx-api.api.md
  packages/api/src/types.ts
  packages/fx-core/src/core/FxCore.ts
  packages/fx-core/src/question/create.ts
  packages/fx-core/tests/question/create.test.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/package.nls.json
  packages/vscode-extension/src/controls/Commands.ts
  packages/vscode-extension/src/controls/sampleGallery/SampleGallery.scss
  packages/vscode-extension/src/controls/sampleGallery/SampleGallery.tsx
  packages/vscode-extension/src/controls/webviewPanel.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/handlers.ts
  packages/vscode-extension/src/telemetry/extTelemetryEvents.ts
  packages/vscode-extension/src/treeview/treeViewManager.ts
  packages/vscode-extension/src/utils/commonUtils.ts
  packages/vscode-extension/test/extension/handlers.test.ts
  packages/vscode-extension/test/extension/treeview/treeViewManager.test.ts
  packages/vscode-extension/test/mocks/vsc/index.ts
  packages/vscode-extension/test/mocks/vscode-mock.ts
Owners: @jayzhang, @1yefuwang1, @LongOddCode, @1openwindow, @HuihuiWu-Microsoft, @nliu-ms

test: ut
  packages/fx-core/resource/package.nls.json
  packages/fx-core/src/question/create.ts
  packages/fx-core/tests/question/create.test.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/package.nls.json
  packages/vscode-extension/src/controls/sampleGallery/SampleGallery.scss
  packages/vscode-extension/src/copilotChatHandlers.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/handlers.ts
  packages/vscode-extension/src/treeview/treeViewManager.ts
  packages/vscode-extension/test/extension/copilotChatHandlers.test.ts
  packages/vscode-extension/test/extension/handlers.test.ts
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms

feat: office content add-in
  packages/fx-core/src/common/featureFlags.ts
  packages/fx-core/src/component/generator/officeAddin/generator.ts
  packages/fx-core/src/component/generator/officeXMLAddin/projectConfig.ts
  packages/fx-core/src/question/create.ts
  packages/fx-core/src/question/inputs/CreateProjectInputs.ts
  packages/fx-core/src/question/options/CreateProjectOptions.ts
  packages/fx-core/tests/component/generator/officeAddinGenerator.test.ts
  packages/fx-core/tests/question/create.test.ts
Owners: none

feat: check existing validation before submitting validation requests
  packages/fx-core/resource/package.nls.json
  packages/fx-core/src/component/driver/teamsApp/validateTestCases.ts
Owners: none
